version-prefix: not-set
server-branch-name: develop
web-branch-name: develop
tag-as-latest: false
deploy-params-environment: develop
deploy-recipe: standard.yaml
iaas: gcp
iaas-workspace: padas-app
iaas-zone: us-west1-a
cluster-spec: deployment/cluster-specs/gcp.yaml
