# Copy this template to the das root directory and rename to .env
# Modify settings as appropriate for your environment.
#
# Read while loading django settings by the python environ library in das_server.settings.
# Most of the overrides are happening in local_settings_docker.py
#
# Locate this file in the root directory which is the parent of directory das_server

DB_NAME=das
DB_USER=das
DB_PASSWORD=password
DB_HOST=postgis
DB_PORT=5432

API_HOST=api
API_PORT=8000

#local_settings_docker params
#Note - commented out lines are optional for dev work,
#but can be uncommented and set
ENABLE_DEBUG=True
ENABLE_DEV=True
ENABLE_SILK=True
LOGGING_LEVEL=INFO

SHOW_TRACK_DAYS=2000
SHOW_STATIONARY_SUBJECTS_ON_MAP=True
TIME_ZONE=US/Pacific


FQDN=localhost
# Allow providing a list of alternate server names on environment.
ALT_SERVER_NAMES=localhost:9000,localhost:8000

CORS_ORIGIN_ALLOW_ALL=True
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

MEDIA_ROOT='/tmp/user-uploads'
MEDIA_URL='http://localhost:8000/media/user-uploads/'
DEFAULT_FILE_STORAGE=django.core.files.storage.FileSystemStorage

KML_OVERLAY_IMAGE="ste_overlay_image.png"

# this single host name updates all the places settings.py that reference a redis server
# which is fine for development
REDIS_HOST="host.docker.internal"

GEOS_LIBRARY_PATH='/usr/lib/aarch64-linux-gnu/libgeos_c.so.1'

SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
GS_BUCKET_NAME=""

TMS_API_CLIENT="core.tms.DjangoSettingsClient"

TENANT_ID="c0973be2-8e11-4cb8-8463-897fb96391d0"
