# to install requirements using pip
# pip install -r requirements.txt --find-links wheelhouse
#
psycopg2==2.6.1
simplejson==3.8.2
pytz==2016.4
python-dateutil==2.5.3
requests==2.9.1
python-engineio==0.9.0
python-socketio==1.2
#master python-socketio project took our last update
#git+https://github.com/PADAS/python-socketio.git@cba6c3ed8b8b2c777538a5a35e73f98f4ec9d4bb

git+https://github.com/PADAS/django-ses.git@2fae0ebdaa96ff6daaea4edaafca3c02cdda61d8
greenlet==0.4.9
gunicorn==19.4.5
Django==1.9.5

djangorestframework==3.3.3
#djangorestframework-gis==0.9.4
#drf geojson serializers
#django-spillway==0.5.1
#https://github.com/mypebble/django-pgviews
django-pgviews==0.1.0
django-geojson==2.9.0
#git+https://github.com/PADAS/django-geojson.git@master
django-model-utils==2.5
#django-extensions==1.5.7
#see https://github.com/ottoyiu/django-cors-headers
django-cors-headers==1.1.0
django-oauth-toolkit==0.9.0
django-rest-swagger==0.3.5
django-leaflet==0.18.1
#numpy 1.9.3, required by django-raster
numpy==1.10.4
django-raster==0.2

GDAL==1.11.2
pyproj==1.9.5
# Under windows add appropriate path'ed Environment Variables
#GDAL_DATA=C:\projects\das\dasvir\Lib\site-packages\osgeo\data\gdal
#GDAL_DRIVER_PATH=C:\projects\das\dasvir\Lib\site-packages\osgeo\gdalplugins
#PATH=C:\projects\das\dasvir\Lib\site-packages\osgeo

fastkml==0.11

#rq==0.5.4
#django-rq==0.8.0

geopy==1.11.0
Fiona==1.6.3
geopandas==0.1.1
shapely==1.5.13
celery==3.1.23
redis==2.10.5
six==1.10.0

eventlet==0.18.4
django-mptt==0.8.3
django-treebeard==4.0
django-extra-fields==0.7

# Gevent, for celery workers
gevent==1.1.1

boto==2.39.0

PyYAML==3.11
