# to install requirements using pip
# pip install -r requirements.txt --find-links wheelhouse
#
psycopg2==2.6.2
simplejson==3.10.0
pytz==2016.7
python-dateutil==2.5.3
requests==2.11.1
python-engineio==1.0.3
#master python-socketio project took our last update
git+https://github.com/PADAS/python-socketio.git@c92a140e3e8255300d566b0df57dba09e9a2973c

greenlet==0.4.10
gunicorn==19.6.0
Django==1.9.10

#git+https://github.com/PADAS/django-ses.git@2fae0ebdaa96ff6daaea4edaafca3c02cdda61d8
django-ses==0.8.0
djangorestframework==3.4.7
#drf geojson serializers
#djangorestframework-gis==0.10.1
#django-spillway==0.5.1
drf-extensions==0.3.1

#https://github.com/mypebble/django-pgviews
django-pgviews==0.2.0
django-model-utils==2.6
#django-extensions==1.5.7
#see https://github.com/ottoyiu/django-cors-headers
django-cors-headers==1.2.2
django-oauth-toolkit==0.10.0
django-rest-swagger==0.3.7
django-leaflet==0.18.1
#numpy 1.9.3, required by django-raster
numpy==1.11.0
django-raster==0.2
git+https://github.com/Julian/jsonschema.git@20ff43fe6b6ec047acfe71c75838323ea9185051
django-sendsms

GDAL==1.11.4
pyproj==1.9.5
# Under windows add appropriate path'ed Environment Variables
#GDAL_DATA=C:\projects\das\dasvir\Lib\site-packages\osgeo\data\gdal
#GDAL_DRIVER_PATH=C:\projects\das\dasvir\Lib\site-packages\osgeo\gdalplugins
#PATH=C:\projects\das\dasvir\Lib\site-packages\osgeo

fastkml==0.11

#rq==0.5.4
#django-rq==0.8.0

geopy==1.11.0
Fiona==1.6.3
cython==0.24.1
geopandas==0.1.1
shapely==1.5.15
celery==3.1.24
redis==2.10.5
six==1.10.0
bleach==1.4.3

eventlet==0.19.0
django-mptt==0.8.3
django-treebeard==4.0.1
django-extra-fields==0.8
gevent==1.1.2
django-storages==1.5.1
#django-versatileimagefield==1.6
git+https://github.com/VulcanTechnologies/django-versatileimagefield.git@751767afb611890921c6705f1a69fa69381ea103

boto==2.43.0

PyYAML==3.12

Pillow==3.4.2

# Docx and Docx Template are used for generating reports as Word documents.
docxtpl==0.2.3
python-docx==0.8.6
lxml==3.6.4
