#To run spatialite, requires GEOS, GDAL, PROJ.4
# see here for setting up windows GeoDjango environment
# https://docs.djangoproject.com/en/1.8/ref/contrib/gis/install/
# single windows installer https://trac.osgeo.org/osgeo4w/

# Use django-extensions to support shell_plus, which allows for running a Django app jupyter notebook.
django-extensions==1.5.9

# Analyzers require the pymet library
git+https://github.com/PADAS/pymet