{% extends 'admin/change_list.html' %}
{% load humanize dastags %}
{% block content_title %}
    <h1> Subject Summary </h1>
{% endblock %}
{% block result_list %}


<div class=”results”>
    <table>

    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>Sub-Type</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Total</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Percent of total</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.subject_subtype__display }} </td>
        <td> {{ row.total | intcomma }} </td>
        <td>
          <strong>
          {{ row.total | default:0 | percentof:summary_total.total }}
          </strong>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
        <td> Total </td>
        <td> {{ summary_total.total | intcomma }} </td>
        <td> 100% </td>
    </tr>
  </table>

        <h2> Updates Over Time </h2>
    <style>
    .bar-chart {
      display: flex;
      justify-content: space-around;
      height: 160px;
      padding-top: 60px;
      overflow: hidden;
    }
    .bar-chart .bar {
        flex: 100%;
        align-self: flex-end;
        margin-right: 2px;
        position: relative;
        background-color: #79aec8;
    }
    .bar-chart .bar:last-child {
        margin: 0;
    }
    .bar-chart .bar:hover {
        background-color: #417690;
    }
    .bar-chart .bar .bar-tooltip {
        position: relative;
        z-index: 999;
    }
    .bar-chart .bar .bar-tooltip {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-weight: bold;
        opacity: 0;
    }
    .bar-chart .bar:hover .bar-tooltip {
        opacity: 1;
    }

    </style>
    <div class='results'>
        <div class='bar-chart'>adm
        {% for x in summary_over_time %}
            <div class='bar' style='height:{{x.pct}}%'>
                <div class='bar-tooltip'>
                    {{x.total | default:0 | intcomma }}<br>
                    {{x.period | date:"Y-m-d"}}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
{% block pagination %}{% endblock %}