{% extends 'admin/change_list.html' %}
{% load humanize dastags %}
{% block content_title %}
    <h1> Subject Position Endpoints </h1>
{% endblock %}
{% block result_list %}


<div class=”results”>
    <table>

    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>Subject Name</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Sub-type</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Status</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>GPS Fix?</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Latest Recorded At</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Latest Location</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in subject_position_endpoints %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.subject.name }} </td>
        <td> {{ row.recorded_at }} </td>
        <td> {{ row.location.x }} {{ row.location.y }} </td>
        <td> {{ row.image_url }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
{% block pagination %}{% endblock %}