{% extends "registration/account_linking_base.html" %}
{% load i18n %}

{% block content %}
  {% if error %}
    <div class="alert" role="alert">{{ error }}</div>
  {% endif %}

  <form class="form" method="post" action="{% url 'link_accounts' %}">
    {% csrf_token %}

    <label class="label" for="id_username">{% translate "Username" %}</label>
    <input class="input" id="id_username" type="text" name="username"
           autocomplete="username" value="{{ form.username.value|default:'' }}" required>

    <label class="label" for="id_password">{% translate "Password" %}</label>
    <input class="input" id="id_password" type="password" name="password"
           autocomplete="current-password" required>

    <button class="button" type="submit">{% translate "Log in" %}</button>
  </form>
{% endblock %}
