{% load i18n %}{% autoescape off %}
{{ request.user }}
{% blocktranslate %}Hi there {{ user }},{% endblocktranslate %}
{% blocktranslate %}
You are receiving this email because you’ve requested to reset your user account at {{ site_name }}.
{% endblocktranslate %}
{% blocktranslate %}
To reset your password, please click the following link and follow the instructions:
{% endblocktranslate %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "If you did not request a password reset, please disregard this email." %}
{% translate "If you have any questions or need any additional help, please contact"%}
{% blocktranslate %}support@earthranger.com{% endblocktranslate %}
{% endautoescape %}
