{% extends "admin/change_form.html" %}
{% block after_field_sets %}

<script type="text/javascript">
    var generic_keyvalue_schema = {
          "schema": {
            "$schema": "http://json-schema.org/draft-04/schema#",
            "title": "EventType Data",
            "type": "object",
            "readonly": true,
            "properties": {
              "attributes": {
                "type": "array",
                "maxItems": 20,
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "title": "Key",
                      "type": "string",
                      "readonly": true
                    },
                    "val": {
                      "title": "Value",
                      "type": "string",
                      "readonly": true
                    }
                  }
                }
              }
            }
          },
          "definition": [
            {
              "key": "attributes",
              "items": [
                "attributes[].key",
                "attributes[].val"
              ]
            }
          ]
        };



    document.getElementById("btn_use_generic_schema").addEventListener('click',
    function() {

        var ans = true;

        if (document.getElementById('id_schema').value.length > 0) {
            ans = confirm('The schema will be replaced with a generic schema. Are you sure you want to do this?');
        }
        if (ans == true) {
            var ta = document.getElementById('id_schema');
            ta.value = JSON.stringify(generic_keyvalue_schema, undefined, 4);
        }

    });


</script>

{% endblock %}