upstream app_server {
  server api:8000;
}
upstream rt_app_server{
  server rt-api:8000;
}

upstream reactapp {
  server reactapp:3000;
}

upstream mock_api {
  server mock_api:3004;
}


server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;
    return 308 https://$host$request_uri;
}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  server_name  $hostname localhost;

  ssl_certificate /etc/ssl/bundle.crt;
  ssl_certificate_key /etc/ssl/pamdas.org-private-key.pem;

  ssl_session_timeout 5m;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA;
  ssl_session_cache shared:SSL:50m;
  #ssl_dhparam /path/to/server.dhparam;
  ssl_prefer_server_ciphers on;

  add_header 'Access-Control-Expose-Headers' 'x-das-download-filename, warning';
  client_max_body_size 50m;

  location /socket.io {
    proxy_pass http://rt_app_server/socket.io;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  location ~ ^/(alerts|static|main.) {
    proxy_pass http://reactapp;
  }

  location /sockjs-node {
    proxy_pass http://reactapp;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
  }

  location ~^/(api|static|oauth|admin|dasadmin|accounts) {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-Host $server_name;

    proxy_pass http://app_server;
  }
  location / {
    proxy_pass http://web_server;
  }
}

server {
  listen 8000;
  listen 35729;

  server_name  $hostname localhost;

  add_header 'Access-Control-Expose-Headers' 'x-das-download-filename, warning';
  client_max_body_size 50m;

  location /socket.io {
    proxy_pass http://rt_app_server/socket.io;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  location /mock-api/ {
    proxy_pass http://mock_api/;
  }

  location ~^/(alerts|static|main.) {
    proxy_pass http://reactapp;
  }

  location /sockjs-node {
    proxy_pass http://reactapp;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
  }


  location ~^/(api|static|oauth|admin|dasadmin|accounts) {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   X-Forwarded-Host $server_name;

    proxy_pass http://app_server;
  }
  location / {
    proxy_pass http://web_server;
  }
}
