# requirements needed for development
# pip-compile --output-file requirements-dev.txt requirements-dev.in .\requirements.txt --find-links ./wheelhouse

# Use django-extensions to support shell_plus, which allows for running a Django app jupyter notebook.
django-extensions==1.9.8
pre-commit==0.14.0
mockredispy==2.9.3
ptvsd==3.2.1
pytest==3.5.0
pytest-django==3.1.2
pytest-pythonpath==0.7.2
xmlunittest==0.5.0