# requirements needed to run continious integration
# until xmlunittest supports lxml>=4.0, don't pip-compile it with requirements.txt
# pip-compile --output-file requirements-ci.txt requirements-ci.in ./requirements.txt --find-links ./wheelhouse

# pip-compile --output-file requirements-ci.txt requirements-ci.in --find-links ./wheelhouse


#apt-get install sloccount
django==2.0.2
coverage==4.5
django-jenkins==0.110.0
pep8==1.7.1
pylint==1.8.2
mockredispy==2.9.3
xmlunittest==0.4.0
pytest==3.5.0
pytest-django==3.1.2
pytest-pythonpath==0.7.2