# This is the canonical list of packages required for the project
# Pinned github commit references are kept in requirements-pinned.txt
# run the following command from pip-tools, to prepare a pinned set of
# dependencies for the app
#   pip-compile requirements.in --find-links ./wheelhouse
# run this command to update versions:
#   pip-compile --upgrade

# to install requirements using pip
# pip install -r requirements.txt -r requirements-pinned.txt --find-links wheelhouse
#
psycopg2==2.7.3.2
simplejson==3.13.2
pytz==2017.3
python-dateutil==2.6.1
requests==2.18.4
python-engineio==2.0.2
celery==4.1.0
celery_once==1.2.0
kombu==4.1.0
redis==2.10.6
six==1.11.0
bleach==2.1.2
python-json-logger==0.1.8
twilio==6.10.0
piexif==1.0.13
simplekml==1.3.0
pycryptodome==3.7.0

greenlet==0.4.12
gunicorn==19.7.1
eventlet==0.21.0
gevent==1.2.2

Django==2.0.2
django-ses==0.8.4
djangorestframework==3.7.7
drf-extensions==0.3.1
#https://github.com/mypebble/django-pgviews
django-pgviews==0.5.3
django-model-utils==3.0.0
#see https://github.com/ottoyiu/django-cors-headers
django-cors-headers==2.1.0
django-oauth-toolkit==1.0.0
django-rest-swagger==2.1.2
django-leaflet==0.23.0
django-sendsms
django-mptt==0.9.0
django-treebeard==4.2.0
django-extra-fields==0.9
django-readonly-field==1.0.2
django-storages==1.7.1
django-tagulous==0.12.0
django-versatileimagefield==1.8.1

#oauth
oauthlib==2.0.6

numpy==1.14.0rc1

GDAL==2.2.3
pyproj==1.9.5.1
geopy==1.11.0
Fiona==1.7.11
cython==0.27.3
geopandas==0.3.0
shapely==1.6.3


# 2017-06-16, switch to boto3 (from boto==2.46.1)
boto3==1.5.9
PyYAML==3.12

# Docx and Docx Template are used for generating reports as Word documents.
Jinja2==2.10
docxtpl==0.4.6
python-docx==0.8.6
lxml==4.1.1
openpyxl==2.5.4

#pymet and requirements that pymet is not pinning
rasterio==1.0a9
geojson==2.3.0
pymet==0.1.17

humanize==0.5.1

azure==4.0.0
