{% extends "admin/change_form.html" %}
{% load i18n %}

{% block form_top %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<label>
  <input type="radio" name="type" value="1" checked>Shapefile</label>
<label>
  <input type="radio" name="type" value="2">STE</label>
<script>
$('input[name="type"]').on('change', function() {
    $('#shapefile').toggle(+this.value === 1 && this.checked);
    $('#ste').toggle(+this.value === 2 && this.checked);
  }).change();
</script>

{% endblock %}

{% block field_sets %}
{% for fieldset in adminform %}
{% if 'Shapefile' in fieldset.name %}
    <div id="shapefile">
        {% include "admin/includes/fieldset.html" %}
    </div>
{% elif 'STE' in fieldset.name %}
    <div id="ste" style="display:none">
        {% include "admin/includes/fieldset.html" %}
    </div>
{% else %}
  {% include "admin/includes/fieldset.html" %}
{% endif %}
{% endfor %}
{% endblock %}
