{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/leaflet-0.7.5/leaflet.css' %}"/>
    <script src="{% static 'js/leaflet-0.7.5/leaflet.js' %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
    <script src="{% static 'js/leaflet-0.7.5/leaflet.ajax.min.js' %}"></script>

</head>
<body>
<div id="map" style="width: 100%; height: 100%"></div>
<script>

    {# base maps #}
    L.mapbox.accessToken = 'pk.eyJ1IjoiamFzb25iIiwiYSI6ImNpZnJhdDYydjd5ZXlzM2txbmF1YXRha2kifQ.aPy_2GpKESLXxXNwOduwLQ';
    var map = L.mapbox.map('map', 'mapbox.outdoors', {
      zoomControl: true,
      center: [0.84,37.12],
      zoom: 9,
      dragging: true,
      scrollWheelZoom: true,
      doubleClickZoom: true
    });



    var dg = L.tileLayer.wms("https://Vulcan%20Aerospace:MyDG1!@services.digitalglobe.com/mapservice/wmsaccess?connectid=8fd9ee98-0180-4d3f-9af3-5017b312cd14", {
        version: '1.0.0',
        layers: 'DigitalGlobe:ImageryTileService'
    });



    {# vector layers for overlays ... depend on sample data in test fixtures #}
    boundaries = new L.GeoJSON.AJAX(
        "{% url 'mapping-feature-geojson' '498c2de9e9b44aeeaa24593c160213bc'%}",
        {
            {# todo: should use the presentation in the feature to control color, width, etc. #}
            style: {
                weight: 2,
                color: 'red'
            }
        }).addTo(map);

    function onEachFeature(feature, layer) {
        if (feature.properties && feature.properties.name) {
            layer.bindPopup(feature.properties.name);
        }
    }

    camps = new L.GeoJSON.AJAX(
        "{% url 'mapping-featureset-geojson' 'c79d3696c770473ab554b731bbd46ee3'%}",
        {
            onEachFeature: onEachFeature
            {# todo: should use the presentation in the feature to control icon, etc. #}
        }
    ).addTo(map);

    {# layers control #}
    var baseLayers = {
        "Mapbox Terrain": map

    };
    var overlays = {
        //"Park boundary": boundaries,
        //"Camps": camps,
        "DG Kenya": dg
    };
    L.control.layers(baseLayers, overlays).addTo(map);

</script>
</body>
</html>