{% extends "admin/base_site.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}


{% block content %}
  <div id="eula" class="doc">
    <p><b>The EULA contains the terms you must comply with in order to use EarthRanger. Please review the full text by clicking here</b></p>
    <p><a href="{{ eula.eula_url }}">EULA</a></p>
    <p><a href="{{ eula.support_policy_url }}">Support Policy</a></p>
  {% if not user.accepted_eula %}
    <form action="." method="post">
      {% csrf_token %}
      {{ form }}
      <br><br>
      <input type="submit" value="I agree">
    </form>
  {% endif %}
  </div>

{% endblock content %}

<style>
  .doc {
    padding: 10% 20px;
  }
</style>